@tailwind base;
@tailwind components;
@tailwind utilities;

/* .drawer-content::-webkit-scrollbar {
    width: .75em;
}
.drawer-content::-webkit-scrollbar-track {
    @apply bg-neutral mt-16
}
.drawer-content::-webkit-scrollbar-thumb {
    @apply bg-secondary
}
.drawer-content::-webkit-scrollbar-thumb:hover {
    @apply bg-primary
}
.drawer-content {
    scrollbar-color: #f0a6ca #4f518c;
    scrollbar-width: .75em;
}
 */
